In [1]:
import requests
import json
import pandas as pd
import numpy as np
from pandas.io.json import json_normalize
import os
import webbrowser
import folium
from folium import plugins
print(folium.__version__)

0.12.1.post1

In [37]:
geo_path = 'data/전국.json'
try:
    geo_data1 = json.load(open(geo_path, encoding='utf-8'))
except:
    geo_data1 = json.load(open(geo_path, encoding='utf-8-sig'))

In [38]:
df = pd.read_excel("data/전국 전세가율 지도코드 데이터.xlsx")
df["코드"]=df["코드"].astype(str)
df

     지역 SIG_KOR_NM  전세가율     코드
0    서울        강남구  52.6  11680
1    서울        강동구  60.3  11740
2    서울        강북구  63.5  11305
3    서울      서울강서구  58.5  11500
4    서울        관악구  63.7  11620
..   ..        ...   ...    ...
171  경남        진주시  78.2  48170
172  경남    창원시 진해구  71.1  48129
173  경남        통영시  72.1  48220
174  제주       서귀포시  67.6  50130
175  제주        제주시  62.8  50110

[176 rows x 4 columns]

In [39]:
state_geo = 'data/전국.json'
state_geo2 = json.load(open(state_geo, encoding ="utf-8"))

In [40]:
m = folium.Map(location = [35.8, 127.6], tiles="OpenStreetMap", zoom_start=8)

choropleth = folium.Choropleth(
    geo_data=state_geo2,
    name = "지도",
    data = df,
    columns=('SIG_KOR_NM', "전세가율"),
    fill_color='YlOrRd',
    key_on="feature.properties.SIG_KOR_NM",
    fill_opactiy = 1,
    line_opacity = 0.5,
    nan_fill_color='#FAEB78',
    nan_fill_opacity=0.1,
).add_to(m)

In [41]:
m

m.save('지도 시각화.html')

In [42]:
df = pd.read_excel("data/수도권 전세가율 지도코드 데이터.xlsx")
df["코드"]=df["코드"].astype(str)
df

    지역 SIG_KOR_NM  전세가율     코드
0   서울        강남구  52.6  11680
1   서울        강동구  60.3  11740
2   서울        강북구  63.5  11305
3   서울      서울강서구  58.5  11500
4   서울        관악구  63.7  11620
..  ..        ...   ...    ...
67  인천       미추홀구  74.5  28177
68  인천        부평구  68.5  28237
69  인천       인천서구  67.1  28260
70  인천        연수구  65.0  28185
71  인천       인천중구  68.0  28110

[72 rows x 4 columns]

In [43]:
state_geo = 'data/전국.json'
state_geo2 = json.load(open(state_geo, encoding ="utf-8"))

In [44]:
m = folium.Map(location = [37.5760, 126.9769], tiles="OpenStreetMap", zoom_start=9)

choropleth = folium.Choropleth(
    geo_data=state_geo2,
    name = "지도",
    data = df,
    columns=('SIG_KOR_NM', "전세가율"),
    fill_color='YlOrRd',
    key_on="feature.properties.SIG_KOR_NM",
    fill_opactiy = 1,
    line_opacity = 0.5,
    nan_fill_color='#FAEB78',
    nan_fill_opacity=0.0,
).add_to(m)

In [45]:
m

m.save('수도권 지도 시각화.html')